<div class="pagination" *ngIf="totalPages > 1">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
      &laquo; Önceki
    </button>
  
    <button
    *ngFor="let page of visiblePages"
    (click)="typeof page === 'number' ? changePage(page) : null"
    [class.active]="currentPage === page"
    [disabled]="page === '...'"
  >
    {{ page }}
  </button>
  
  
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
      Sonraki &raquo;
    </button>
  </div>
  