<div *ngIf="loading">Haberler yükleniyor...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div class="slider-container" *ngIf="sliderArticles.length > 0">
  <button class="slider-btn left" (click)="prevSlide()">&#10094;</button>
  
  <div class="slider-wrapper">
    <div class="slider-card" *ngFor="let article of sliderArticles; let i = index" [class.active]="i === currentSlide">
      <img [src]="article.urlToImage" alt="Haber resmi" />
      <h2>{{ article.title }}</h2>
      <p>{{ article.description }}</p>
      <a [href]="article.url" target="_blank" class="read-more-btn">Devamını oku</a>
    </div>
  </div>

  <button class="slider-btn right" (click)="nextSlide()">&#10095;</button>
</div>

<div class="articles" *ngIf="pagedArticles.length > 0">
  <div *ngFor="let article of pagedArticles" class="article-card">
    <img *ngIf="article.urlToImage" [src]="article.urlToImage" alt="Haber resmi"/>
    <h3>{{ article.title }}</h3>
    <p>{{ article.description }}</p>
    <a [href]="article.url" target="_blank" class="read-more-btn">Devamını oku</a>
  </div>
</div>

<app-pagination
  [totalResults]="totalResults"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (pageChange)="goToPage($event)">
</app-pagination>
